*{

    margin: 0 auto;
    padding: 0;
}
.video{
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f4701;
  z-index: ;
    
    
}
.imagem-1{
    width: 100%;
    height: 60px;
    background-color: black;
}

.textos{
    background-color: aqua;
    width: 300px;
    height: 100px;
    margin-top: 500px;
}
.cor{
    width: 100%;
    height: ;
}











:root{
    --cor-fundo : #9fd192; 
    --cor-primaria :  #0f4701; 
    --cor-hover : #e7fa89;
    }
    
    .dp-menu ul{
    list-style-type:none;
    padding: 0; 
    position: absolute;
    z-index: 1;
    margin-left: px;
    width: 100%;
    height: 90px;
    
    }
    .dp-menu ul  {
        background-color: var(--cor-fundo);
       
    }
    
    .dp-menu ul li{ 
        display: inline;
        position: relative;  
        margin-top: 20px;
        margin-left: 60px;
        text-decoration: none;
        font-size: 20px;


    
    }
    .dp-menu ul li:hover{
        border-bottom: #ffffff;
    }

    
    .dp-menu ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    padding:20px;
    display: inline-block;
    
    }
    
    .dp-menu ul a:hoer{
      background-color: var(--cor-hover);  
    }
    /*sub menu*/
    
    .dp-menu ul ul {
        display: none;
        position: absolute;
        left: 0;
        opacity: 0; 
        
    }
    .dp-menu ul ul{
        width: 150px;
    }
    
    
    .dp-menu ul a:hover ul{
    display: block;
    }
    .dp-menu ul ul li{
        display: inline;
    }